<div class="container shadow-lg">

    <div class="row m-4">
        <div class="col-md-12">
            <h2>Agregar informacion del nuevo usuario:</h2>
        </div>
    </div>

    <div>
        <form [formGroup]="form" (submit)="enviarDatos()" class="row m-4">
            <h5 class="row m-4">Informacion basica del usuario:</h5>
            <div class="row m-4">
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Nombre" formControlName="Nombre">
                </div>
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Apellido Paterno" formControlName="ApellidoPaterno">
                </div>
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Apellido Materno" formControlName="ApellidoMaterno">
                </div>

            </div>

            <div class="row m-4">
                <div class="col-md-3">
                    <input type="date" class="form-control shadow" formControlName="FechaNacimiento">
                </div>
                <div class="col-md-3">
                    <input class="form-control shadow" placeholder="CURP" formControlName="Curp">
                </div>
                <div class="col-md-6">
                    <div>
                        <input class="form-check-input mx-3" type="radio" value="Ma" formControlName="Sexo">
                        <label class="form-check-label">Hombre</label>

                        <input class="form-check-input mx-3" type="radio" value="Fe" formControlName="Sexo">
                        <label class="form-check-label">Mujer</label>
                    </div>
                </div>
            </div>

            <h5 class="row m-4">Contacto del usuario:</h5>
            <div class="row m-4">
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Celular" formControlName="Celular">
                </div>
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Telefono" formControlName="Telefono">
                </div>
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Email" formControlName="Email">
                </div>
            </div>

            <h5 class="row m-4">Permisos:</h5>
            <div class="row m-4">
                <div class="col-md-4">
                    <input class="form-control shadow" placeholder="Username" formControlName="Username">
                </div>
                <div class="col-md-4">
                    <input type="password" class="form-control shadow" placeholder="Password"
                        formControlName="Password">
                </div>
                <div class="col-md-4">

                    <select class="form-select" formControlName="Rol">
                        <option [ngValue]="null">Selecciona tu rol</option>
                        @for (rol of roles; track rol.IdRol) {
                        <option [ngValue]="rol" [text]=rol.NombreRol></option>
                        }
                    </select>

                </div>
            </div>

            <h5 class="row m-4">Direccion:</h5>
            <div formArrayName="Direcciones">
                <div formGroupName="0">
                    <div class="row m-4">
                        <div class="col-md-3">
                            <select class="form-select" (change)="cambioPais($event)">
                                <option>Pais</option>
                                @for (pais of paises; track pais.IdPais) {
                                <option [value]=pais.IdPais [text]=pais.Nombre></option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select" (change)="cambioEstado($event)">
                                <option>Estado</option>
                                @for (estado of estados; track estado.IdEstado) {
                                <option [value]=estado.IdEstado [text]=estado.Nombre>Estado</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select" (change)="cambioMunicipio($event)">
                                <option>Municipio</option>
                                @for (municipio of municipios; track municipio.IdMunicipio) {
                                <option [value]=municipio.IdMunicipio [text]=municipio.Nombre></option>
                                }
                            </select>
                        </div>
                        <div class="col-md-3">
                            <select class="form-select" formControlName="colonia">
                                <option [ngValue]="null">Colonia</option>
                                @for (colonia of colonias; track colonia.IdColonia) {
                                <option [ngValue]="colonia" [text]=colonia.Nombre></option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="row m-4">

                        <div class="col-md-3">
                            <input class="form-control shadow" placeholder="Codigo Postal"
                                formControlName="CodigoPostal">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control shadow" placeholder="Calle" formControlName="Calle">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control shadow" placeholder="No. Interior"
                                formControlName="NumeroInterior">
                        </div>
                        <div class="col-md-3">
                            <input class="form-control shadow" placeholder="No.Exterior"
                                formControlName="NumeroExterior">
                        </div>
                    </div>
                </div>
            </div>
            <h5 class="row m-4">Imagen:</h5>
            <div class="row m-4">
                <div class="col-md-4 text-center d-flex flex-column align-items-center">
                    <div class="card p-3 w-100 h-100">
                        <label class="form-label fw-bold">Imagen</label>
                        <input type="file" (change)="imagenCargada($event)" accept="image/*" class="form-control mb-2"
                            name="imagenFile" id="imagenFile" formControlName="Imagen">
                        <img id="previewImage" style="max-width: 300px; max-height: auto" class="mx-auto" src="#" />
                    </div>
                </div>

                <div class="col-md-1">
                    <label>Agregar</label>
                </div>

                <div class="col-md-1">
                    <button type="submit" class="btn btn-success"><i class="bi bi-person-fill-add"></i></button>
                </div>

                <div class="col-md-1">
                    <label>Cancelar</label>
                </div>

                <div class="col-md-2">
                    <button type="reset" value="Cancelar" class="btn btn-danger"><i
                            class="bi bi-x-square-fill"></i></button>
                </div>

            </div>



        </form>
    </div>

</div>